button
{
    background-color: #D5D2D7;
    border-radius: 20px;
    border: 2px solid #3C3835;
}
body
{
    background-color:#B4A8A0;
}
.btn
{
    background-color: #D5D2D7;
    border-radius: 20px;
    border: 2px solid #3C3835;
}